<h3 class='center'>Demo 13 : Les Signals</h3>



<h5>1 : Les signals</h5>

<div class="row">

    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="card-header bg-success text-white">
                    Counter : {{ count() }}
                    QTY : {{ qty() }}
                    Total : {{ total()}}
                </div>
                <div class="card-body">
                    <button (click)="increment()" class="btn green">Incrementer le signal counter</button>
                    <button (click)="incrementQTY()" class="btn orange">Incrementer le signal qty</button>
                </div>
            </div>
        </div>
    </div>
</div>


<h5>1 : Le HttpClient</h5>

<div class="row">

    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="card-header bg-info text-white">
                    Utilisations du get sur l'api restCountries
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Nom</th>
                            <th>Surface</th>
                            <th>Population</th>
                            <th>Options</th>
                        </tr>
                        <tr *ngFor="let country of allCountries()">
                            <td>{{country.name.official}}</td>
                            <td>{{country.area}}</td>
                            <td>{{country.population }}</td>
                            <!-- <td><button class="btn btn-info" (click)="detailsCountry(country.name.common)">Détails</button></td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>